{%set menu = 'reservation' %}

{% extends "src/GestionReservationAuto/Resources/views/layout.html.twig" %}


{% block content %}
    <h3>Liste des réservations du service</h3>
    <div class="pull-right">
        <a href="{{ path('gestion-reservation-auto-reservation-create-for-user') }}"class="btn btn-sm btn-primary">Réserver pour un utilisateur</a>
    </div><div class="clearfix"></div>
    <p>Cette icône <span class="glyphicon glyphicon-envelope"></span> vous envoie un mail contenant le bon de remisage à domicile.</p>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover" id="myTable">
                <thead>
                <th>Utilisateur</th>
                <th>Voiture</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Départ</th>
                <th>Destination</th>
                <th>Distance</th>
                <th>Motif</th>
                <th>Signature Agent</th>
                <th>Signature supérieur</th>
                <th>Bon de remisage</th>
                </thead>
                {% for res in lesReservations %}
                    <tr>
                        <td>{{res.user.nom}} {{res.user.prenom}}</td>
                        <td>{{res.voiture.vehicule.vehImmat}}</td>
                        <td>{{res.dateDebut|date('d/m/Y H')}}h</td>
                        <td>{{res.dateFin|date('d/m/Y H')}}h</td>
                        <td>{{res.depart}}</td>
                        <td>{{res.destination}}</td>
                        <td>{{res.distance}} Km</td>
                        <td>{{res.motif}}</td>
                        <td>{{res.signatureAgent}}</td>
                        {% if res.dateDebut|date('d-m-Y') != res.dateFin|date('d-m-Y')%}
                            {% if res.signatureSuperieur != null %}
                                <td>{{res.signatureSuperieur}}</td>
                            {%else%}
                                <td> <a href="{{ path('gestion-reservation-auto-reservation-signature-superieur', {'id': res.idReservation}) }}"class="btn btn-xs btn-warning">Signer</a></td>
                            {%endif%}
                        {%else%}
                            <td></td>
                        {%endif%}
                        <td>{%if res.signatureAgent != null and res.signatureSuperieur != null%}<a href="{{ path('gestion-reservation-auto-reservation-send-bon-remisage-superieur', {'id': res.idReservation}) }}"><span class="glyphicon glyphicon-envelope"></span></a>{%endif%}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}{# empty Twig template #}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                "language": {
                    "url": "{{ baseRoutePrefix }}/i18n/datatables.french.json"
                },
                "order": [[1, "desc"]]
            });

            $(document).on("keyup", ".dataTables_filter input[type=search]", function () {
                var body = $(table.table().body());

                var txtSearchOriginal = this.value;
                var txtSearchRewrite = jQuery.fn.DataTable.ext.type.search.string(txtSearchOriginal);

                table.search(
                        txtSearchRewrite
                        ).draw();

                body.highlight([txtSearchOriginal, txtSearchRewrite]);
            });
        });
    </script>
{%endblock%}
